.appTableActionMenu {
  :global {
    .ant-dropdown-menu-item {
      padding: 0 !important;

      .ant-dropdown-menu-title-content {
        span {
          display: block;
          padding: 5px 12px;
        }
      }
    }
  }
}
