.userAvatarWrapper {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255 255 255 / 65%);
  transition: all ease 0.2s;
  border: 2px solid #666;

  &:hover {
    background-color: rgb(255 255 255 / 20%);
    transition: all ease 0.2s;
  }
}

.invertColor {
  @apply text-gray-600;

  &.invertColorDarkMode {
    @apply text-slate-400;
  }
}

.fixedHeader {
  transition: width ease 0.2s;
  height: 64px;
  min-height: 64px;
  background-color: #fff;
  border-bottom: 1px solid rgb(237 242 247);
  box-shadow: 0 0 20px rgb(0 0 0 / 8%);
  padding: 0 32px 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  column-gap: 12px;
}

.pageContentWrapper {
  background: var(--bg-dark);
  display: flex;
  flex-direction: column;
}

.mainSidebarWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  width: 28rem;
  background-color: var(--color-accent);
  padding: 1.6rem 0 2.4rem;
  height: 100%;
  overflow: hidden auto;
  transition: width ease 0.2s;
  position: relative;
  z-index: 1;

  &.collapsed {
    width: 0;
  }
}

.mainPageContentWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  transition: width ease 0.2s;

  @apply min-h-screen w-full min-1441:w-[calc(100%-28rem)];

  &.collapsed {
    width: 100%;
  }
}

.mainMobileSidebarWrapper {
  background-color: var(--color-accent) !important;
  :global {
    .ant-drawer-header {
      display: none !important;
    }
  }
}
