::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 2%);
  box-shadow:
    inset -0.5px 0 0 rgb(0 0 0 / 7%),
    inset -1px 0 0 rgb(0 0 0 / 2%),
    inset 1px 0 0 rgb(0 0 0 / 2%),
    inset 0.5px 0 0 rgb(0 0 0 / 7%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #969696;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a9a9a9 transparent;
}

body {
  color: var(--grey-800);
}

#root {
  width: 100%;
  height: 100%;
}

a,
link {
  color: var(--color-primary);
  cursor: pointer;

  &:hover {
    filter: brightness(0.85);
  }
}

input[type='number']:not(:read-only) {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    opacity: 1;
  }
}

.border-default {
  border: 1px solid var(--border-color);
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(255 255 255 / 10%) inset !important;
}
