/* ====================================================
 reset style
 ==================================================== */
html {
  font-size: 10px;
  text-size-adjust: 100%;
}

body,
div,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
figure,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

main {
  display: block;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

fieldset,
img {
  border: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

caption,
th {
  text-align: left;
}

q::before,
q::after {
  content: '';
}

abbr,
acronym {
  font-variant: normal;
  border: 0;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
}

/* because legend doesn't inherit in IE */
legend {
  color: #000;
}

del,
ins {
  text-decoration: none;
}
