.iconButton {
  border: none;
  background: transparent; /* Make background transparent */
  color: inherit; /* Inherit color from parent */
  transition: background-color 0.3s ease;

  /* Optional: Add hover effects */
}

.iconButton:not(:disabled):hover {
  background-color: rgba(
    0,
    0,
    0,
    0.05
  ) !important; /* Light background on hover */
}
